// Variables

$font-main: 'Roboto Slab', serif;
$font-second: 'Roboto', sans-serif;
$color-light: #FFF;
$color-gold: #FED136;

// Global

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    font-family: $font-main;
    color: $color-light;
}
a {
    text-decoration: none;
    color: $color-light;
}
h1, h2, a {
    font-family: $font-second;
}

h1 {
    text-transform: uppercase;
    font-weight: 300;
}

h2 {
    text-transform: capitalize;
    font-weight: 300;
}

.container {
    max-width: 960px;
}

// Navbar

nav {
    padding-top: 25px;
    .brand-logo {
        font-size: 26px;
        text-transform: capitalize;
        color: $color-gold;
    }
    .col {
        padding: 0;
    }
    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        text-transform: uppercase;
        padding: 0;
    }
}

// Splash

.splash {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/splash-screen.png");
    object-fit: cover;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    .splash-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    .btn {
        background-color: $color-gold;
        padding: 12px 50px;
        border-radius: 5px;
        margin-top: 25px;
        font-size: 16px;
        text-transform: uppercase;
    }
    h1 {
        font-size: 75px;
    }
    h2{
        font-size: 40px;
    }
    h1, h2 {
        margin: 0;
    }
}
